[Unit]
Description=MQTT HomeKit Light service

[Service]
Environment=MHL_CONFIG=/etc/mqtt-homekit-light/%i.json
EnvironmentFile=-/etc/default/mqtt-homekit-light-%i
ExecStart=/usr/bin/mqtt-homekit-light -storage-path /var/lib/mqtt-homekit-light/%i -config $MHL_CONFIG
Restart=on-failure
RestartSec=10s
DynamicUser=true
StateDirectory=mqtt-homekit-light/%i
User=mhl-%i

[Install]
WantedBy=default.target
